@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --DarkBg: #1e2022;
  --darkCardBg: #2b3138;
  --white: #ffffff;
  --orange: #f49434;
  --lightGray: #afb5bc;
  --cardBg: #212629;
  --miniCardBg: rgba(242, 243, 243, 0.05);
  --footerBg: #1a1d1f;
  --paddingMobile: 1rem;
  --paddingTab: 3rem;
  --paddingDesktop: 8rem;
}

ul,
ol,
li {
  list-style: none !important;
}

a {
  text-decoration: none;
}

body {
  background: var(--DarkBg);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}
#root {
  display: grid;
  min-height: 100svh;
  grid-template-rows: auto 1fr auto;
  max-width: 100vw;
}
main {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  &::before {
    content: "";
    display: inline-block;
    width: 20rem;
    aspect-ratio: 1/1;
    position: absolute;
    background-image: url(./assets/bgik.svg);
    background-size: contain;
    top: -8rem;
    right: -12rem;
    opacity: 0.3;
  }

  @media (min-width: 600px) {
    &::before {
      width: 35rem;
      top: -10rem;
      right: -20rem;
    }
  }
}
footer {
  align-self: end;
}

header {
  align-self: start;
}
img,
svg {
  display: block;
  max-width: 100%;
}

button {
  background-color: transparent;
  border: transparent;
  color: var(--white);
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p,
a {
  color: var(--white);
}

h1 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 130%;
  text-transform: uppercase;

  @media (min-width: 900px) {
    font-size: 4rem;
  }
  @media (max-width: 300px) {
    font-size: 2rem;
  }
  @media (min-width: 1000px) {
    font-size: 5rem;
  }
}

h2 {
  font-size: 1rem;
  font-weight: 600;

  @media (min-width: 700px) {
    font-size: 1.5rem;
  }
}
h3 {
  font-weight: 400;
  font-size: 1rem;
}

p,
a,
li {
  font-size: 0.875rem;
  @media (max-width: 800px) {
    font-size: 0.875rem;
  }
}
header,
.hero,
.projectPage,
.aboutPage,
.contactPage,
.contact,
footer {
  padding-inline: var(--paddingMobile);

  @media (min-width: 600px) {
    padding-inline: var(--paddingTab);
  }
  @media (min-width: 1200px) {
    padding-inline: var(--paddingDesktop);
  }
}

.project,
.about {
  margin-inline: var(--paddingMobile);

  @media (min-width: 600px) {
    margin-inline: var(--paddingTab);
  }
  @media (min-width: 1200px) {
    margin-inline: var(--paddingDesktop);
  }
}
