.contact {
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 4rem;
  justify-content: space-between;
  background-color: var(--footerBg);
  padding-block: 3rem;
  margin-block-start: 5rem;
  position: relative;
  isolation: isolate;
}

.contact-img {
  width: 100%;

  @media (max-width: 570px) {
    position: absolute;
    scale: 70%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    opacity: 0.2;
    z-index: -1;
  }
}

.contact-fields {
  width: 100%;

  & h2 {
    margin-block-end: 3rem;
  }

  & form {
    margin-block-end: 4rem;
    display: grid;
    gap: 2rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(58, 56, 56, 0.1);
    @media (max-width: 570px) {
      background-color: var(--miniCardBg);
    }
    & label {
      display: block;
      margin-block-end: 0.5rem;
    }

    & input {
      display: block;
      background-color: transparent;
      border: 2px solid white;
      outline: none;
      padding: 1rem;
      width: 90%;
      border-radius: 10px;
      color: var(--white);
      &:focus,
      &:hover {
        border-color: var(--orange);
      }
    }

    & button {
      width: fit-content;
      justify-self: end;
      margin-inline: 1rem;
    }
  }
}

.contact-me {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-block-start: 1rem;
}
