.contact {
  color: var(--white);
  display: flex;
  align-items: start;
  gap: 4rem;
  justify-content: space-between;
  background-color: var(--footerBg);
  padding-block: 3rem;
  margin-block-start: 5rem;
  position: relative;
  isolation: isolate;
}

.contact-fields {
  width: 100%;

  & h2 {
    margin-block-end: 3rem;
  }
}

.contact-me {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-block-start: 1rem;
}
